<script src="{{ "/assets/js/profile.js" | relative_url }}" type="module"></script>
<div class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><b class="command_prompt"></b>{{ site.title | escape }}<b class="blinking_cursor">_</b></a>
    <a id="profile-name" class="profile-name" href="{{ "/profile/" | relative_url }}"></a>
  </div>
  <div class="wrapper nav-menu">
    {% for tab in site.tabs %}
    <a href="{{ tab.url | relative_url }}" class="
    {% if tab.url == page.url %}active color-{{ tab.color }}
    {% else %}color-foreground color-{{ tab.color }}-hover{% endif %}"
    >{{ tab.title }}</a>
    {% if forloop.last == false %}<span class="separator">|</span>{% endif %}
    {% endfor %}
    <hr>
  </div>
</div>