---
layout: post
title: "Act 1: The Ember of Warmth"
---

{% assign posts = site.categories.christmas2024 | reverse %}
{% assign for_size = posts | size | minus: 1 %}

<script type="module">
    import { updateLockbyLevel } from '/assets/js/locker.js';
    const story = "christmas2024";
    {% for i in (0..for_size) %}
        {% assign post = posts[i] %}
        updateLockbyLevel("{{ post.id }}-title", story, parseInt('{{ post.level }}') - 1);
        updateLockbyLevel("{{ post.id }}-img", story, parseInt('{{ post.level }}') - 1);
    {% endfor %}
</script>

{% include post-grid.html posts=posts %}
