---
layout: post
permalink: /stories/christmas2024/act2/
title: "Act 2: The Crystal of Joy"
---

{% assign posts = site.categories.christmas2024 | reverse %}
{% assign posts = posts | slice: 7, 9 %}
{% assign for_size = posts | size | minus: 1 %}

<script type="module">
    import { updateLockbyLevel } from '/assets/js/locker.js';
    const story = "christmas2024";
    updateLockbyLevel("post-title", story, 6);
    {% for i in (0..for_size) %}
        {% assign post = posts[i] %}
        updateLockbyLevel("{{ post.id }}-title", story, parseInt('{{ post.level }}') - 1);
        updateLockbyLevel("{{ post.id }}-img", story, parseInt('{{ post.level }}') - 1);
    {% endfor %}
</script>

{% include post-grid.html posts=posts %}
