---
layout: lock_post
---
<script src="{{ "/assets/js/level-checker.js" | relative_url }}" type="module"></script>
<script type="module">
    import { updateLevelPage } from '/assets/js/level-checker.js';
    updateLevelPage('{{ page.category }}', '{{ page.level }}');
</script>
<lock-region id="level-region" class="post">
    <h2>Previously</h2>
    {{ page.previosly }}
    <h2>Narrative</h3>
    {{ page.narrative }}
    <h2>Objective</h3>
    {{ page.objective }}
    <h2>Challenge</h2>
    {{ content }}
    <div id="submission-field">
        <h3>Answer</h3>
        <span>
            <b class="command_prompt"></b>
            <input id="submission-text" class="level-input-text" oninput="hideFeedback(true)"></input>
            <span id="answer-feedback" class="answer-feedback">Wrong answer!</span>
        </span>
        <br>
        <button id="submit-button" class="level-input-button" onclick="sendLevelAnswer('{{ page.category }}', '{{ page.level }}')">Submit</button>
    </div>
    <div id="outcome-field">
        <h2>Outcome</h2>
        {{ page.outcome }}
    </div>
</lock-region>
